@using FindHikingFellow.Core.Contracts
@model IEnumerable<TourServiceModel>
@inject ITourService tourService

@{
    ViewData["Title"] = "Approve";
}

<h3 class="text-center">@this.ViewData["Title"]</h3>
<h4>Tours to approve</h4>
@if (!Model.Any())
{
    <h2 class="text-center">You have no tours to approve!</h2>
}
<div class="row">
    @foreach (var tour in Model)
    {
        <div class="col-md-4 mt-5">
            <div class="card mb-3">
                <img class="card-img-top" src="@tour.ImageUrl" alt="@tour.Name @tour.Destination">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@tour.Name</h5>
                    <h5 class="card-title text-center">@tour.Destination</h5>
                    <h5 class="card-title text-center">@tour.MeetingTime.ToString("MM/dd/yyyy") </h5>

                    <br />

                    <form class="input-group-sm" asp-controller="Tour" asp-action="Approve"
                          asp-area="Admin" asp-route-tourId="@tour.Id" method="post">
                        <input class="btn btn-success" type="submit" value="Approve" />
                    </form>
                </div>
            </div>
        </div>
    }
</div>
