@using FindHikingFellow.Core.Models.Tour;
@model TourDetailsServiceModel

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col">
        @if (@Model.Upcoming)
        {
            <div class="btn btn-success">Upcoming</div>
        }
        else
        {
            <div class="btn btn-danger">Finished</div>

        }
    </div>
    <div class="col">
        <h2>@Model.Name</h2>
    </div>

</div>
<hr />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            <img src="@Model.ImageUrl" class="img-fluid" alt="Tour Image" style="max-width: 100%;" />
            <div>
                <span id="AverageRating">@Model.AverageRating.ToString("0.0")</span><span> / 5.0 </span>
            </div>
            <div class="star-rating">
                @for (double i = 1; i <= 5.0; i++)
                {
                    <span class="@(i <= Model.AverageRating ? "text-warning" : "text-muted")">&#9733;</span>
                }
            </div>
            <div class="mt-4">
                <a asp-controller="Feedback" asp-action="Create" class="btn btn-primary" asp-route-id="@Model.Id">Add review</a>
            </div>

        </div>
        <div class="col-md-8">
            <p><strong>Destination:</strong> @Model.Destination</p>
            <p><strong>Description:</strong> @Model.Description</p>
            <p><strong>Length:</strong> @Model.Length km</p>
            <p><strong>Duration:</strong> @Model.Duration</p>
            <p><strong>Elevation gain:</strong> @Model.ElevationGain m</p>
            <p><strong>Route Type:</strong> @Model.RouteType</p>
            <p><strong>Difficutly:</strong> @Model.Difficulty</p>
            <p><strong>Activity Type:</strong> @Model.ActivityType</p>
            <p><strong>Meeting Point:</strong> @Model.MeetingPoint</p>
            <p><strong>Meeting Time:</strong> @Model.MeetingTime</p>
            <p><strong>Participants Count:</strong> @Model.ParticipantsCount</p>

                @if (Model.KeyPoints.Any())
                {
                <p>
                    <strong>Key Points:</strong>
                        @foreach (var keyPoint in Model.KeyPoints)
                        {
                        <div class="btn btn-outline-success">@keyPoint</div>
                        }
                </p>
                }
                @if (Model.Features.Any())
                {
                <p>
                    <strong>Features:</strong>
                        @foreach (var feature in Model.Features)
                        {
                        <div class="btn btn-outline-warning">@feature</div>
                        }
                </p>
                }
        </div>
        <hr />
        <div class="mt-4 mb-4">
            <h3>Reviews(@Model.Feedbacks.Count)</h3>
            <h4>Average Rate: @Model.AverageRating.ToString("0.0")</h4>
        </div>
        <div>
                @foreach (var feedback in Model.Feedbacks)
                {
                <p style="background-color:powderblue"><strong>Author: </strong>@feedback.Author</p>
                <p><strong>Date: </strong>@feedback.CompletedOn.ToString("MM/dd/yyyy")</p>
                <p><strong>Rating: </strong>@feedback.Rating</p>
                <div>
                        @if (@feedback.Review.Length > 0)
                        {
                        <p><strong>Review:</strong></p>
                        <p>@feedback.Review</p>
                        }
                </div>
                <hr />
                }
        </div>
    </div>
</div>


