@using FindHikingFellow.Core.Contracts
@using FindHikingFellow.Core.Models.Tour
@using System.Security.Claims
@model IEnumerable<TourServiceModel>
@inject ITourService tourService

<div class="row">
    @foreach (var tour in Model)
    {
        <div class="col-md-4 mt-5">
            <div class="card mb-3">
                <img class="card-img-top" src="@tour.ImageUrl" alt="@tour.Name @tour.Destination">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@tour.Name</h5>
                    <h5 class="card-title text-center">@tour.Destination</h5>
                    <h5 class="card-title text-center">@tour.MeetingTime.ToString("MM/dd/yyyy") </h5>
                    @if (tour.Upcoming)
                    {
                        <div class="btn btn-outline-success">Upcoming</div>
                    }
                    else
                    {
                        <div class="btn btn-outline-danger">Finished</div>
                    }

                    <div class="mt-3">
                        <a asp-area="" asp-controller="Tour" asp-action="Details" asp-route-id="@tour.Id"
                           asp-route-information="@tour.GetInformation()" class="btn btn-primary">Details</a>

                        @if (this.User.Identity.IsAuthenticated)
                        {
                            if (await tourService.IsOrganisedBy(tour.Id, User.Id()) || User.IsAdmin())
                            {
                                if (tour.Upcoming || User.IsAdmin())
                                {
                                    <a asp-area="" asp-controller="Tour" asp-action="Edit" asp-route-id="@tour.Id"
                                       class="btn btn-warning">Edit</a>
                                }
                                <a asp-area="" asp-controller="Tour" asp-action="Delete" asp-route-id="@tour.Id"
                                   asp-route-information="@tour.GetInformation()" class="btn btn-danger">Delete</a>
                            }

                            <p></p>

                            @if (await tourService.IsJoinedByUserWithIdAsync(tour.Id, User.Id()) == false)
                            {
                                <form class="input-group-sm" asp-controller="Tour" asp-action="Join" asp-area="" asp-route-id="@tour.Id" method="post">
                                    <input class="btn btn-success" type="submit" value="Join" />
                                </form>
                            }
                            else if (await tourService.IsJoinedByUserWithIdAsync(tour.Id, User.Id()))
                            {
                                <form asp-controller="Tour" asp-action="Leave" asp-area="" asp-route-id="@tour.Id" method="post">
                                    <input class="btn btn-success" type="submit" value="Leave" />
                                </form>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>